<link href="@Url.Content("~/Content/testcss.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/testJs.js")"></script>
@{  
    Html.LinkList().Items(items =>
   {
       items.Add().Title("link1").Url("#");
       items.Add().Title("222").Url("#");

   })
   .SetHtmlAttributes(new MvcComponent.Models.HtmlStyleAttribute { Width = 100, Height = 200 })
   .SetCssClass("bg")
   .GenerateId()
   .Render();

    //var listitems = new List<MvcComponent.Models.Foo>();
    //listitems.Add(new MvcComponent.Models.Foo() { Key = "BindingItem1", Value = "#" });
    //listitems.Add(new MvcComponent.Models.Foo() { Key = "BindingItem2", Value = "#" });
    //listitems.Add(new MvcComponent.Models.Foo() { Key = "BindingItem3", Value = "#" });

    //Html.LinkList()
    //    .GenerateId("BindLinkList")
    //    .Bind(listitems, m => m.Key, m => m.Value)
    //    .Render();

}
<br />
<br />
@{
    Html.Tab()
        .AddTab("tab1", "TAB1 CONTENT")
        .AddTab("tab2", "SECOND TAB")
        .SetCssClass("tab")
        .GenerateId("selfTab")
        .Render();


}
<script>
    $(function () {
     
  
    });

</script>
<ul>
    <li style="background-color:red">1</li>
    <li>2</li>
</ul>

<br />
@{
    Html.AButton()
        .Text("it's a button")
        .SetCssClass("button")
        .SetHtmlAttributes(new MvcComponent.Models.HtmlStyleAttribute { Width = 100, Height = 50, Cursor = "pointer" })
        .Render();
}

@Html.RenderScripts()




